body {
  background-image: url("../img/back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}

.container{
  margin: 5px;
  width: 50%;
}

.buttons {
  margin-left: 300px;
}

button{
  height: 130px;
  width: 130px;
  font-size: 80px;
  background-color: white;
  color: white;
}

.results {
  margin-left: 300px;
  margin-top: 0px;
  color: white;
}

h1{
  text-align: center;
  color: white;
}

img{
  width: 80%;
}

